@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

#logos{
    margin:auto;
    max-width: fit-content;
    margin-bottom:2em;
    display:grid;
    grid-template-columns: repeat(8,1fr);
}

h1, h2, h3, h4, h5, h6, p, a, button{
    font-family:'Shadows Into Light';
    color:black;
}

body{
    background-image: linear-gradient(to bottom, #f500c4, #ff86d9);
    background-color: #f500c4;
    background-attachment: fixed;
}

.navbar{
    margin-left:auto;
    margin-right:auto;
    max-width: fit-content;
}

.navbar div{
    display:inline;
    padding: 1em 1.5em 0.5em 1.5em;
    margin:auto auto auto auto;
}

.navbar button{
    background-color:#FF0000;
    background-image:linear-gradient(to bottom left, #FF0000, #9E00F5);
    font-size:1.5em;
    height: 2em;
    width: 4em;
    color:white;
    text-align: center;
    border:none;
}

.body{
    padding:3em;
    background-color:#EDEDED;
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
    top:0%;
}

#about h1{
    color:#FF0000;
    background-image: linear-gradient(to bottom, #FF0000, #FFC24D);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:5em;
    overflow:hidden;
}

.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

#gallery h1:first-child{
    color: #014f00;
    background-image: linear-gradient(to right, #046d00, #026a008b);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:5em;
    overflow:hidden;
}

#gallery h1{
    font-size:3em;
}

#gallery p{
    font-size: 2em;
}

#gallery img{
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:40em;
}

#artists h1{
    color: #0019FC;
    background-image: linear-gradient(to left, #77ff00, #0019FC);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:5em;
    overflow:hidden;
}

#gallery-sidebar{
    left:0px;
    width: 20em;
    position:fixed;
    background-color: #EDEDED;
    top:0%;
    height:100%;
}

#gallery-sidebar a{
    font-size: 1.5em;
    padding-left:1em;
}

#gallery-sidebar div{
    padding-bottom:1em;
    padding-top:1em;
}

#gallery-sidebar div:hover > a{
    color:#f500c4;
}

@media screen and (max-width: 1600px){
    #gallery-sidebar{
        height:5em;
        width:100%;
        bottom:0px;
        top:auto;
        text-align: center;
    }

    #gallery-sidebar div{
        padding-bottom:0em;
        padding-top:0em;
        display: inline-block;
        padding-right:2em;
        padding-left:2em;
    }

    #gallery-sidebar div:first-child{
        display:none;
    }
}

@media screen and (max-width: 750px){
    .body{
        width:100%;
        height:100%;
        left:0px;
        right:0px;
        top:0px;
        bottom:0px;
    }

    #gallery img{
        width:20em;
    }
}

@media screen and (max-width: 750px){
    body{
        background-color: #EDEDED;
        background-image: none;
    }

    .body{
        width:100%;
        height:100%;
        left:0px;
        right:0px;
        top:0px;
        bottom:0px;
    }

    #gallery img{
        width:20em;
    }
}

@media screen and (max-width: 605px){
    #artistsButton{
        margin-top:1em;
    }

    #gallery-sidebar{
        height:10em;
    }

    #gallery{
        padding-bottom:10em;
    }

}

@media screen and (max-width: 460px){
    #galleryButton{
        margin-top:1em;
    }
}